<input 
    [type]="type"
    class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
    [placeholder]="placeholder" 
    [formControl]="control"
    [mask]="format"
    [dropSpecialCharacters]="false"
/>
<ng-container *ngIf="control.touched && control.dirty">
    <p class="text-red-400" *ngIf="control.errors?.pattern">
        - at least 8 characters
        - must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number
        - Can contain special characters
    </p>
    <p 
        class="text-red-400"
        *ngIf="control.errors?.required"
    >
        * Field is required
    </p>
    <p 
        class="text-red-400"
        *ngIf="control.errors?.minlength"
    >
        * You leat only {{ control.errors.minlength.actualLength }} character and need {{
        control.errors.minlength.requiredLength }}
    </p>
    <p class="text-red-400" *ngIf="control.errors?.email">
        Please enter a valid email.
    </p>  
    <p class="text-red-400" *ngIf="control.errors?.min">
        Value too low
    </p> 
    <p class="text-red-400" *ngIf="control.errors?.max">
        Value to high
    </p> 
</ng-container>